# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/MyMonitor/.vs/JBD.MonitorCozinha/v15/Server/sqlite3
/MyMonitor/JBD.MonitorCozinha.Application/obj
/MyMonitor/JBD.MonitorCozinha.CrossCutting/obj
/MyMonitor/JBD.MonitorCozinha.Data/obj
/MyMonitor/JBD.MonitorCozinha.Domain/obj
/MyMonitor/JBD.MonitorCozinha.Test.Admin/obj
/MyMonitor/JBD.MonitorCozinha.WebAdmin/obj
/MyMonitor/JBD.MonitorCozinha.WebApiAdmin/obj
