@using JBD.MonitorCozinha.Domain.Enuns;
@model IEnumerable<JBD.MonitorCozinha.WebAdmin.Models.NumeroPedidoViewModel>

<div class="table col-lg-12 col-sm-12">
    @foreach (var item in Model)
    {
        if (item.IdStatusPedido == StatusPedidoEnum.Pronto)
        {
            if (item.NovoNumero)
            {
                <div class="float-left p-2"><span id="b"><button class="btn btn-outline-success form-control" value="@item.IdStatusPedido" style="font-size:70px; color:brown;"><b>@item.NumeroPedido</b></button></span></div>
            }
            else
            {
                <div class="float-left p-2"><span id="b"><button class="btn btn-outline-success form-control" value="@item.IdStatusPedido" style="font-size:50px"><b>@item.NumeroPedido</b></button></span></div>
            }
        }
    }
</div>
