@{
    Layout = null;
    var unidadeCor = Controle.ControleAcesso.UnidadeCor;
    if (string.IsNullOrEmpty(unidadeCor))
    {
        unidadeCor = "Gainsboro";
    }
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Monitor Cozinha</title>

    @*<environment include="Development">*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*</environment>*@

    <style type="text/css">
        header {
            position: fixed;
            top: 0;
            left: 0;
            background-color: white;
        }

        .ajusteTopBady {
            margin-top: 130px;
        }

    </style>
</head>
<body>
    <div id="divMonitorTvBody" class="container-fluid ajusteTopBady"></div>

    <header>
        <div style="text-align:center; font-size:25px; padding-bottom: 5px; background-color:@unidadeCor"><b>@Controle.ControleAcesso.Unidade</b></div>
        <input type="hidden" id="IdEmpresa" name="IdEmpresa" value="@Controle.ControleAcesso.IdEmpresa" />
        <input type="hidden" id="IdUnidade" name="IdUnidade" value="@Controle.ControleAcesso.IdUnidade" />
        <div class="container-fluid mt-2" id="divTopHeader">
            <table class="table table-bordered" style="border: 5px solid #dee2e6 !important; margin-bottom: 0px !important;">
                <thead>
                    @*<tr class="col-md-12" style="background-color:Gainsboro">*@
                    <tr class="col-md-12" style="background-color:@unidadeCor">
                        @*<th style="width:33%; border: 5px solid #dee2e6 !important; font-size:30px; text-align: center;">
                            À FAZER:
                        </th>*@
                        <th style="width:33%; border: 5px solid #dee2e6 !important; font-size:30px; text-align: center;">
                            FAZENDO:
                        </th>
                        <th style="width:33%; border: 5px solid #dee2e6 !important; font-size:30px; text-align: center;">
                            PRONTO:
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </header>

    <footer class="border-top footer text-muted">
        <div class="container-fluid" style="text-align:center">
            &copy; 2019 - Mymonitor.com.br @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>

    @*<environment include="Development">*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/Views/Monitor/Monitor.js"></script>
    @*</environment>*@
</body>
</html>
<div id="rodape"></div>
